{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"prettier",
		"jsx-a11y"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:jsx-a11y/recommended"
	],
	"rules": {
		"no-console": 2,
		"prettier/prettier": 2,
		"no-restricted-imports": [
			"error",
			{
				"patterns": [
					".*"
				]
			}
		]
	}
}